* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-image: url(../../practiceHTML/randomwebsite/img/watercolor.jpeg);
    float: left;
}

#headerstyle {
    padding: 40px;
    margin-top: 0;
    margin-bottom: 40px;
    width: 100%;
    margin-left: -40px;

    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    background-color: aqua;
}

p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    margin-right: 200px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.subtitles {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-transform: capitalize;
    text-decoration: underline;

    margin-bottom: 40px;
    margin-top: 0px;
}

/* styling links below */

a:link {
    color: black;
}

a:visited {
    color: blue;
}

a:hover {
    color: orange;
}

a {
    text-decoration: none;
}

/* styling links above */


section {
    float: left;
    width: 60%;
}

aside {
    float: right;
    width: 35%;
}

.asideheader {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}

.asidelist {
    font-size: 12px;
    list-style-type: none;
}


li {
    list-style-type: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: -15px;
}

.previewfood {
    height: auto;
    width: 700px;
}

#caption {
    margin-top: 5px;
    margin-bottom: 40px;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



/* footer styling */

.footercontainer {
    width: 100%;
}

.socials {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    text-decoration: underline;

    margin-top: 0px;
    margin-bottom: 40px;
}

.sociallinks {
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.socialicons {

    height: auto;
    width: 30px;
}

footer {
    clear: both;
    padding: 5px 500px 50px 5px;
    background-color: aqua;
    width: 100%;
}


